body {
    background-color: rgb(215, 236, 255);
}

.divCentral {
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    background-color: white;
}

.divCentralFicheros {
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
    background-color: white;
}

.error {
    color: red;
}

.uploaded {
    color: green;
}