body {
    background-color: rgb(215, 236, 255);
}

.divCentral {
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    background-color: white;
}

.divCentralFicheros {
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
    background-color: white;
}

.error {
    color: red;
}

.uploaded {
    color: green;
}

.ficheros_imagenes {
    display: flex;
    grid-gap: 4px;
    grid-template-columns: repeat(6, auto);
}

.ficheros_imagenes_img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

